
/* this is perfect on all devices */
/* may result in images being too zoomed in on smaller devices */
/* #landing-page{
    background-image: url('./images/test_image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    margin: 0;
} */

/* this is perfect on all devices */
/* may result in images being too zoomed in on smaller devices */
/* #about-page{
    background-image: url('./images/test_image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    margin: 0;
} */

/* just wanted to see what it looks like */
/* two different images for the 2 different sections on the about page */
/* #test-about{
    background-image: url('./images/test_image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    margin: 0;
} */

/* just wanted to see what it looks like */
/* two different images for the 2 different sections on the about page */
/* #test-open-faith{
    background-image: url('./images/test-image-2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    margin: 0;
} */

/* Styles for screens larger than 600px */
/* changes it so that the background IS NOT FIXED */
@media only screen and (min-width: 600px) {
    #about-page{
        background-image: url('./images/test_image.jpeg');
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        height: auto;
        margin: 0;
    }

    #landing-page{
        background-image: url('./images/test_image.jpeg');
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        height: auto;
        margin: 0;
    }
}


/* Styles for screens smaller than 600px */
/* changes it so that the background IS FIXED */
@media only screen and (max-width: 599px) {
    #about-page{
        background-image: url('./images/test_image.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        height: auto;
        margin: 0;
    }

    #landing-page{
        background-image: url('./images/test_image.jpeg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        height: auto;
        margin: 0;
    }
}







