/* this looks good on phones but on larger screens there is white empty space under the photo
where there is not enough text to fill the screen */
/* #landing-page{
    background-image: url('./images/test_image.jpeg');
    background-size: cover;
    top:0;
    bottom:0;
    right:0;
    left:0;
} */

/* this looks good on larger screens, but now the same issue of remaining bottom white space
is being shown on smaller devices */
/* #landing-page{
    background-image: url('./images/test_image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
} */

/* this is perfect on all devices */
#landing-page{
    background-image: url('./images/test_image.jpeg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    margin: 0;
}

#about-page{
    background-image: url('./images/test_image.jpeg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    margin: 0;
}

/* just wanted to see what it looks like */
/* #test-about{
    background-image: url('./images/test_image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    margin: 0;
} */

/* just wanted to see what it looks like */
/* #test-open-faith{
    background-image: url('./images/test-image-2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: auto;
    margin: 0;
} */